* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Poppins', 'Acme';
    background: rgba(22, 21, 25, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1.6rem;
    padding-top: 66px;
    
}
.header-section {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header-logo-container {
    display: flex;
    height: 24px;
    width: 122px;
    justify-content: space-between;
}  
.header-logo-subcontainer {
    display: flex;
} 
.logo-subcontainer--1 {
    height: 24px;
    width: 24px;
    border-radius: 50px;
    background: linear-gradient(90.47deg, #A53883 0.33%, #E53345 46.14%, #FB8749 99.59%);
    z-index: 1;
}
.logo-subcontainer--2 {
    height: 23px;
    width: 23px;
    border-radius: 50px;
    border: 1px solid rgba(165, 56, 131, 0.7);
    margin-top: -1px;
    margin-left: -14px;
}
/* logo-heading */
.logo-heading {
    height: 20px;
    width: 76px;
    font-family: Acme;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
}
.nav-section {
    height: auto;
    width: auto;
    margin-top: 3px;
    
}
.nav-section ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18.000244140625px;
    width: 685.3762817382812px;
    gap: 27px;
}
.nav-section ul li {
    height: 18px;
    width: auto;
    font-family: Acme;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
}
.nav-section ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
.select-subcontainer-1 {
    display: flex;
    height: 20px;
    width: 80px;
    justify-content: space-between;
}
.arrow {
    height: 6px;
    width: 10px;
    margin-top: 7px;
} 
.global {
    height: 20px;
    width: 20px;
}
.header-select-container {
    display: flex;
    gap: 50px;
    margin-top: 2px;
}
.select-subcontainer-1 p {
    height: 18px;
    width: 28px;
    font-family: Acme;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
}
.select-subcontainer-2 {
    height: auto;
    width: auto;
}
.select-subcontainer-2-1 {
    height: 2px;
    width: 27px;
    margin-bottom: 5px;
    background: rgba(255, 255, 255, 1);

} 
/* hero-section */
.hero-section {
    width: 100%;
    height: auto;
    margin-top: 152px;
    display: flex;
}
.hero-intro-heading {
    height: 16px;
    width: 155px;
    left: 100px;
    top: 240px;
    font-family: Acme;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    margin-top: 20px;
}
.hero-main-heading {
    height: 200px;
    width: 598px;
    font-family: Acme;
    font-size: 59px;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: 0em;
    margin-bottom: 120px;
}
.hero-main-heading-span {
    text-decoration: underline;
}
.hero-subcontainer {
    height: 276px;
    width: 349px;
    border-radius: 32px;
    background: linear-gradient(90.47deg, rgba(165, 56, 131, 0.35) 0.33%, rgba(229, 51, 69, 0.35) 46.14%, rgba(251, 135, 73, 0.35) 99.59%);
    filter: blur(100px);
    position: absolute;
    top: 219px;
    left: 115px;
    z-index: -1;
   
}
.hero-star-svg {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 405px;
    top: 524px;
 }
 .hero-text {
    margin-top: 16px;
    height: 56px;
    width: 710px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
   
}
.hero-button {
    margin-top: 60px;
    font-family: Acme;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    height: 64px;
    width: 220px;
     border-radius: 32px;
    background: linear-gradient(90.47deg, #A53883 0.33%, #E53345 46.14%, #FB8749 99.59%);
}
.hero-arrow-img {
    margin-left: 104px;
    margin-top: 27px;
}
.hero-container-2 {
    margin-left: -36px;
    
}
.hero-img-2-1 {
    height: 216.7603349524748px;
    width: 474.8101860767356px;
    object-fit: contain;
}
.hero-img-2-2 {
    height: 216.2968949805417px;
    width: 474.2795399633767px;
    object-fit: contain;
    position: relative;
    z-index: -1;
    top: -140px;
}
/* footer */
footer {
    margin-top: 7.83px;
    height: auto;
    width: 100%;
}
.footer-main-heading {
    height: 48px;
    width: 527px;
    font-family: Acme;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    margin-left: 325px;
    margin-bottom: 71px;
}    
.footer-subcontainer {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
}
.footer-subcontainer-1 {
    height: 136px;
    margin-bottom: 80px;
}
.footer-subcontainer-1-1 {
    display: flex;
}
.subcontainer-1-1-img {
    height: 40px;
    width: 40px;
    margin-top: -8px;
    margin-right: 10px;
}
.subcontainer-1-1-heading {
    height: 24px;
    font-family: Acme;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}
.subcontainer-1-text {
    height: 84px;
    width: 317px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 20px;
    

}