* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Poppins', 'Acme';
    background: rgba(22, 21, 25, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1.6rem;
    padding-top: 66px;
    
}
.header-section {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header-logo-container {
    display: flex;
    height: 24px;
    width: 122px;
    justify-content: space-between;
}  
.header-logo-subcontainer {
    display: flex;
} 
.logo-subcontainer--1 {
    height: 24px;
    width: 24px;
    border-radius: 50px;
    background: linear-gradient(90.47deg, #A53883 0.33%, #E53345 46.14%, #FB8749 99.59%);
    z-index: 1;
}
.logo-subcontainer--2 {
    height: 23px;
    width: 23px;
    border-radius: 50px;
    border: 1px solid rgba(165, 56, 131, 0.7);
    margin-top: -1px;
    margin-left: -14px;
}
/* logo-heading */
.logo-heading {
    height: 20px;
    width: 76px;
    font-family: Acme;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
}
.nav-section {
    height: auto;
    width: auto;
    margin-top: 3px;
    
}
.nav-section ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18.000244140625px;
    width: 685.3762817382812px;
    gap: 27px;
}
.nav-section ul li {
    height: 18px;
    width: auto;
    font-family: Acme;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
}
.nav-section ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
.select-subcontainer-1 {
    display: flex;
    height: 20px;
    width: 80px;
    justify-content: space-between;
}
.arrow {
    height: 6px;
    width: 10px;
    margin-top: 7px;
} 
.global {
    height: 20px;
    width: 20px;
}
.header-select-container {
    display: flex;
    gap: 50px;
    margin-top: 2px;
}
.select-subcontainer-1 p {
    height: 18px;
    width: 28px;
    font-family: Acme;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
}
.select-subcontainer-2 {
    height: auto;
    width: auto;
}
.select-subcontainer-2-1 {
    height: 2px;
    width: 27px;
    margin-bottom: 5px;
    background: rgba(255, 255, 255, 1);

} 
/* hero-section */
.hero-section {
    width: 100%;
    height: auto;
    margin-top: 66px;
    display: flex;
}
.hero-intro-heading {
    height: 16px;
    width: 155px;
    left: 100px;
    top: 240px;
    font-family: Acme;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    margin-top: 20px;
}
.hero-main-heading {
    height: 200px;
    width: 598px;
    font-family: Acme;
    font-size: 59px;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: 0em;
    margin-bottom: 120px;
}
.hero-main-heading-span {
    text-decoration: underline;
}
.hero-subcontainer {
    height: 276px;
    width: 349px;
    border-radius: 32px;
    background: linear-gradient(90.47deg, rgba(165, 56, 131, 0.35) 0.33%, rgba(229, 51, 69, 0.35) 46.14%, rgba(251, 135, 73, 0.35) 99.59%);
    filter: blur(100px);
    position: absolute;
    top: 219px;
    left: 115px;
    z-index: -1;
   
}
.hero-star-svg {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 405px;
    top: 477px;
 }
 .hero-text {
    margin-top: 16px;
    height: 56px;
    width: 710px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
   
}
.hero-button {
    margin-top: 60px;
    border: none;
    font-family: Acme;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    height: 64px;
    width: 170px;
     border-radius: 32px;
    background: linear-gradient(90.47deg, #A53883 0.33%, #E53345 46.14%, #FB8749 99.59%);
}
.hero-arrow-img {
    margin-left: 104px;
    margin-top: 27px;
}
.hero-container-2 {
    margin-left: -36px;
    
}
.hero-img-2-1 {
    height: 216.7603349524748px;
    width: 474.8101860767356px;
    object-fit: contain;
}
.hero-img-2-2 {
    height: 216.2968949805417px;
    width: 474.2795399633767px;
    object-fit: contain;
    position: relative;
    z-index: -1;
    top: -140px;
}
/* footer */
footer {
    margin-top: 7.83px;
    height: auto;
    width: 100%;
}
.footer-main-heading {
    height: 48px;
    width: 527px;
    font-family: Acme;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    margin-left: 325px;
    margin-bottom: 71px;
}    
.footer-subcontainer {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
}
.footer-subcontainer-1 {
    height: 136px;
    margin-bottom: 80px;
}
.footer-subcontainer-1-1 {
    display: flex;
}
.subcontainer-1-1-img {
    height: 40px;
    width: 40px;
    margin-top: -8px;
    margin-right: 10px;
}
.subcontainer-1-1-heading {
    height: 24px;
    font-family: Acme;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}
.subcontainer-1-text {
    height: 84px;
    width: 281px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 20px;
    margin-left: 50px;
}
.line1-img {
    /* height: 485.5436367342169px; */
    width: 90%;
    left: 33.724731px;
    top: 44.224365px;
    position: absolute;
    transform: rotate(-12.03deg);
    z-index: -2;
}
.line1-img2 {
    /* height: 485.5436367342169px; */
    width: 96.5%;
    left: -21.2752685546875px;
    top: 123.224365234375px;
    transform: rotate(-5.35deg);
    position: absolute;
    z-index: -3;
}
@media screen and (max-width:480px) {
    body {
        padding-left: 25px;
        padding-right: 25px;
        font-family: 'Poppins', 'Acme';
        background: rgba(22, 21, 25, 1);
        color: rgba(255, 255, 255, 1);
        font-size: 1.6rem;
        padding-top: 27px;

    }
    .header-section {
        height: auto;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 104px;
        margin-left: -29px;
    }
    .header-logo-container {
        display: flex;
        height: 24px;
        width: 306px;
        justify-content: space-between;
    } 
    .header-logo-subcontainer {
        display: flex;
        margin-left: 170px;
        
    }
    .nav-section ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 18.000244140625px;
        width: 411.376282px;
        gap: 20px;
        padding-left: 28px;
    }
    .header-select-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 27px;
       
    }
    .logo-heading {
        height: 20px;
        width: 76px;
        font-family: Acme;
        font-size: 26px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
    }
    .select-subcontainer-1 {
        padding-left: 46px;
    }
    .select-subcontainer-2 {
        padding-left: 46px;
    }
    /* hero */
    .hero-section {
        flex-direction: column;
        
    }
    .hero-main-heading {
        height: 200px;
        width: 100%;
        font-family: Acme;
        font-size: 26px;
        font-weight: 400;
        line-height: 63px;
        letter-spacing: 0em;
        margin-bottom: -55px;
        text-align: center;
    }
    .hero-text {
        height: 56px;
        width: 100%;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
    
    }
    .hero-intro-heading {
        margin-top: -56px;
    }
    .hero-button  {
        margin-top: 73px;
    }
    .hero-arrow-img {
        margin-left: -188px;
        margin-top: 55px;
        position: relative;
        top: -43px;
        left: 264px;
    }
    .hero-star-svg {
        position: absolute;
        height: 30px;
        width: 30px;
        left: 191px;
        top: 533px;
     }
     .hero-container {
        margin-bottom: -43px;
     }
     .hero-container-2 {
        width: 100%;
      margin-left: -23px;
      margin-bottom: -113px;
     }
     .hero-subcontainer {
        height: 155px;
        width: 125px;
        border-radius: 32px;
        background: linear-gradient(90.47deg, rgba(165, 56, 131, 0.35) 0.33%, rgba(229, 51, 69, 0.35) 46.14%, rgba(251, 135, 73, 0.35) 99.59%);
        filter: blur(38px);
        position: absolute;
        top: 414px;
        left: 21px;
        z-index: -1;
    }    
    /* footer */
    .footer-main-heading {
        height: 48px;
        width: 74%;
        font-family: Acme;
        font-size: 26px;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 0em;
        margin-left: 88px;
        margin-bottom: 32px;
    }
    .footer-subcontainer {
        flex-direction: column;
        /* gap: 10px; */

    }
    .subcontainer-1-1-heading {
        height: 24px;
        font-family: Acme;
        font-size: 22px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
    }
    .subcontainer-1-text {
        height: 84px;
        width: 99%;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        color: rgba(255, 255, 255, 0.9);
        margin-top: 20px;
        margin-left: 28px;
        text-align: center;
    }
    .footer-subcontainer-1 {
        margin-bottom: 45px;
    }
    .line1-img{
        width: 85%;
        position: absolute;
        left: -67px;
       top: 967px;
    }
    .line1-img2 {
        width: 85%;
        position: absolute;
        left: -14px;
        top: 19px;

    }
}
    /* screen 768px */
    @media screen and (max-width:768px)  {
        
        body {
            padding-left: 25px;
            padding-right: 25px;
            font-family: 'Poppins', 'Acme';
            background: rgba(22, 21, 25, 1);
            color: rgba(255, 255, 255, 1);
            font-size: 1.6rem;
            padding-top: 27px;
    
        }
        .header-section {
            height: auto;
            width: 100%;
           justify-content: space-between;
        }
        .header-logo-container {
            display: flex;
            height: 24px;
            width: 290px;
            justify-content: space-between;
            margin-left: -170px;

        } 
        .header-logo-subcontainer {
            display: flex;
            margin-left: 170px;
            
        }

        .nav-section ul {
            list-style: none;
            margin-left: -24px;
            padding: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 18.000244140625px;
            width: 100%;
            gap: 10px;
            padding-left: 28px;
        }
        .header-select-container {
            justify-content: center;
            align-items: center;
            gap: 27px;
           
        }
        .logo-heading {
            height: 20px;
            width: 76px;
            font-family: Acme;
            font-size: 26px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0em;
        }
        .select-subcontainer-1 {
            padding-left: 38px;
            gap: 8px;
        }
        .select-subcontainer-2 {
            padding-left: 12px;
        }
        /* hero */
        .hero-section {
            flex-direction: column;
            
        }
        .hero-main-heading {
            height: 200px;
            width: 100%;
            font-family: Acme;
            font-size: 49px;
            font-weight: 400;
            line-height: 63px;
            letter-spacing: 0em;
            margin-bottom: -46px;
            text-align: center;
        }
        .hero-text {
            height: 56px;
            width: 100%;
            font-family: Poppins;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: center;
        
        }
        .hero-intro-heading {
            margin-top: -56px;
            margin-bottom: 16px;
        }
        .hero-button  {
            margin-top: 23px;
        }
        .hero-arrow-img {
            margin-left: -188px;
            margin-top: 55px;
            position: relative;
            top: -43px;
            left: 264px;
        }
        
        .hero-star-svg {
            position: absolute;
            height: 30px;
            width: 30px;
            left: 387px;
            top:260px;
         }
         .hero-container {
            margin-bottom: -43px;
         }
         .hero-container-2 {
            width: 50%;
          margin-left: 158px;
          margin-bottom: -102px;
          margin-top: -25px;
         }
         .hero-subcontainer {
            height: 155px;
            width: 125px;
            border-radius: 32px;
            background: linear-gradient(90.47deg, rgba(165, 56, 131, 0.35) 0.33%, rgba(229, 51, 69, 0.35) 46.14%, rgba(251, 135, 73, 0.35) 99.59%);
            filter: blur(38px);
            position: absolute;
            top: 414px;
            left: 21px;
            z-index: -1;
        }    
        /* footer */
        .footer-main-heading {
            height: 48px;
            width: 69%;
            font-family: Acme;
            font-size: 37px;
            font-weight: 400;
            line-height: 48px;
            letter-spacing: 0em;
            margin-left: 174px;
            margin-bottom: 32px;
            margin-top: -33px;
        }
        .footer-subcontainer {
            flex-direction: column;
            /* gap: 10px; */
    
        }
        .subcontainer-1-1-heading {
            height: 24px;
            font-family: Acme;
            font-size: 22px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
        }
        .subcontainer-1-text {
            height: 84px;
            width: 91%;
            font-family: Poppins;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
            color: rgba(255, 255, 255, 0.9);
            margin-top: 20px;
            margin-left: 28px;
            text-align: center;
        }
        .footer-subcontainer-1 {
            margin-bottom: 45px;
        }
        .line1-img{
            width: 85%;
            position: absolute;
            top: 548px;
            left: -97px;

        }
        .line1-img2 {
            top: 10px;
            left: -50px;
            position: absolute;
            height: 298px;

        }
    }
    
    

